*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    width:100%;
    height:100vh;
    background:black;
}

.container{
    position:absolute;
    top:20px;
    width:100%;
    text-align: center;
}

.header{
    position:relative;
    top:0;
    left:0;
    background-color:white;
    width:100%;
    padding:10px;
}

.header h1
{
    color:rgb(0, 0, 0);
}

.header p{
    position:relative;
    color:red;
    font-weight:400;
}

.calc-box-dupliacte
{
    display:flex;
    position:absolute;
    top:86px;
    width:100%;
    height:100vh;
    background-color:rgb(39, 35, 35);
    padding:30px 10px;
    justify-content: center;
}

.calc-box-dupliacte .calc-box{
    position: relative;
    top:0;
    left:0px;
    padding:40px;
    background-color: rgb(238, 54, 54);
}

.calc-box .type-data{
    position:relative;
    top:0;
    left:0;
    width:100%;
}

.calc-box .type-data label{
    position:relative;
    
}

.calc-box .type-data .input{
    display:block;
    position:relative;
    top:0;
    left:0;
    width:100%;
    justify-content:center;
}

.calc-box .type-data .input input{
    position:relative;
    padding:5px;
    border: 1px solid black;
    border-radius:5px;
    width:50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.calc-box .type-data .input select{
    padding:5px;
    border: 1px solid black;
    border-radius:5px;
}

.calc-box .type-data input[type=button],input[type=reset]{
    position: relative;
    top:0;
    left:0;
    padding:5px;
    border:1px solid white;
    border-radius:5px;
    cursor: pointer;
}

.calc-box .type-data button::before{
    content: '';
    background:red;
    
}

.calc-box .type-data .btn{
    background:green;
    color:white;   
}

.calc-box .type-data .btn:active{
    -webkit-box-shadow: inset 1px 1px 10px #333;
   -moz-box-shadow:    inset 1px 1px 10px #333;
   box-shadow:         inset 1px 1px 10px #333;
}

.calc-box .type-data .btn2{
    background-color: rgb(255, 208, 0);
    border:1px solid black;
}

.calc-box .type-data .Result-div{
    display:flex;
    flex-direction:row; 
}

.resultdata{
    position:relative;
    top:0;
    left: 0;
    color:purple;
    padding:20px;
}

.Result-div label{
    position:relative;
    top:10px;
}

.text-area textarea{
    margin: 0px;
    width: 359px;
    height: 181px;
    position:relative;
    top:20px;
    background-color: black;
    color:white;
    border:1px solid black;
    border-radius:5px;
    resize: none;
}

.header-h2{
    color:white;
}


@media screen and (max-width:460px){
    .text-area textarea{
        width:100%;
    }

    .calc-box .type-data .input select{
        margin-top:10px;
        margin-bottom: 20px;
    }
}